snippet yiifk "migration foreign key" b
/*
 * FOREIGN KEY : ${1:Table}.${2:Field}
 * REFERENCES  : ${3:Reference Table}.${4:Reference Field}
 */        
$this->addForeignKey(
	'fk-$1-$2',
	'$1',
	'$2',
	'$3',
	'$4',
	'CASCADE'
);
endsnippet
