[submodule "dotfiles/vim/bundle/auto-pairs"]
	path = dotfiles/vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "dotfiles/vim/bundle/calendar.vim"]
	path = dotfiles/vim/bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim
[submodule "dotfiles/vim/bundle/ctrlp.vim"]
	path = dotfiles/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotfiles/vim/bundle/indentLine"]
	path = dotfiles/vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "dotfiles/vim/bundle/nerdcommenter"]
	path = dotfiles/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/vim/bundle/pdv"]
	path = dotfiles/vim/bundle/pdv
	url = https://github.com/tobyS/pdv.git
[submodule "dotfiles/vim/bundle/sparkup"]
	path = dotfiles/vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "dotfiles/vim/bundle/unite.vim"]
	path = dotfiles/vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "dotfiles/vim/bundle/vdebug"]
	path = dotfiles/vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "dotfiles/vim/bundle/vim-airline"]
	path = dotfiles/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "dotfiles/vim/bundle/vim-easy-align"]
	path = dotfiles/vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/vim-gitgutter"]
	path = dotfiles/vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "dotfiles/vim/bundle/vim-grammarous"]
	path = dotfiles/vim/bundle/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous.git
[submodule "dotfiles/vim/bundle/vim-indent-guides"]
	path = dotfiles/vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dotfiles/vim/bundle/vim-multiple-cursors"]
	path = dotfiles/vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/bundle/vim-tmux-navigator"]
	path = dotfiles/vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "dotfiles/vim/bundle/vimwiki"]
	path = dotfiles/vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "dotfiles/vim/bundle/vmustache"]
	path = dotfiles/vim/bundle/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule "dotfiles/vim/bundle/ultisnips"]
	path = dotfiles/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotfiles/vim/bundle/vim-airline-themes"]
	path = dotfiles/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dotfiles\\vim\\bundle\\ultisnips"]
	path = dotfiles\\vim\\bundle\\ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotfiles\\vim\\bundle\\vim-airline-themes"]
	path = dotfiles\\vim\\bundle\\vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
