# name: React functional component
# key: rfc
# contributor: Ade Attwood <code@adeattwood.co.uk>
# filetypes: javascriptreact
# --
const $1PropTypes = {};

/**
 * @type {React.FC<PropTypes.InferProps<typeof $1PropTypes>>}
 */
const ${1:Component} = () => {
  return <div>$0</div>
}

$1.propTypes = $1PropTypes;
