# name: Before each test function
# key: be
# contributor: Ade Attwood <code@adeattwood.co.uk>
# filetypes: javascript,javascriptreact,typescript,typescriptreact
# --
beforeEach(${1:async }() => {
  ${0}
});
