# name: Describe test function
# key: desc
# contributor: Ade Attwood <code@adeattwood.co.uk>
# filetypes: javascript,javascriptreact,typescript,typescriptreact
# --
describe('${1}', () => {
  ${0}
});
