# name: ESM import statement
# key: import
# contributor: Ade Attwood <code@adeattwood.co.uk>
# filetypes: javascript,javascriptreact,typescript,typescriptreact
# --
import { $2 } from '${1:package}';${0}
