# name: A test function
# description: A test function same as it but with test
# key: test
# contributor: Ade Attwood <code@adeattwood.co.uk>
# filetypes: javascript,javascriptreact,typescript,typescriptreact
# --
test('${1}', () => {
  ${0}
});
