# name: Full boilerplare class for the current file
# key: nclass
# contributor: Ade Attwood <code@adeattwood.co.uk>
# filetypes: cs
# --
namespace ${AA_NAMESPACE};

${public} class $TM_FILENAME_BASE
{
    $0
}
